body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #333;
}

.header a:hover img {
  transform: scale(1.1);
}

.header img {
  height: 200px;
  transition: transform 0.2s ease-in-out;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.game-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.game-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
  text-decoration: none;
}

.game-icons img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.game-icons a:hover img {
  transform: scale(1.1);
}

.game-icons .caption {
  margin-top: 10px;
  font-size: 1.5em;
  color: #333;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.game-icons a:hover .caption {
  opacity: 1;
}
